* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

$colors : #fedc00 0,
			#fedc00 1/18 * 100%,
			#fcb712 0,
			#fcb712 2/18 * 100%,
			#f7921e 0,
			#f7921e 3/18 * 100%,
			#e87f24 0,
			#e87f24 4/18 * 100%,
			#dd6227 0,
			#dd6227 5/18 * 100%,
			#dc4c27 0,
			#dc4c27 6/18 * 100%,
			#ca3435 0,
			#ca3435 7/18 * 100%,
			#b82841 0,
			#b82841 8/18 * 100%,
			#953751 0,
			#953751 9/18 * 100%,
			#364c88 0,
			#364c88 10/18 * 100%,
			#16599d 0,
			#16599d 11/18 * 100%,
			#02609e 0,
			#02609e 12/18 * 100%,
			#0073a9 0,
			#0073a9 13/18 * 100%,
			#008aa4 0,
			#008aa4 14/18 * 100%,
			#239a87 0,
			#239a87 15/18 * 100%,
			#7cba6d 0,
			#7cba6d 16/18 * 100%,
			#becc2f 0,
			#becc2f 17/18 * 100%,
			#e0d81d 0,
			#e0d81d 18/18 * 100%;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background:
    repeating-radial-gradient(circle at bottom left, $colors),
    repeating-radial-gradient(circle at bottom right, $colors);
  background-blend-mode: overlay;
}

.title {
  width: 100%;
  text-align: center;
  color: white;
  font-family: monospace;
}

.dog {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}

.choose {
  width: 100%;
  text-align: center;
  color: white;
  font-family: cursive;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
width: 10%;
height: 10%;
position: relative;
visibility: hidden;
}

.spinner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner .6s linear infinite;
}

#label {
  margin-right: 2vw;
}

.dropdown {
  margin-right: 2vw;
  width: 10vw;
}
